.fields {
    width: 100%;
    display: flex;
    flex-direction: column;

    .date {
        width: 100%;
        display: flex;
        justify-content: space-between;

        input,
        select {
            width: 45%;
        }
    }

    .id {
        width: 100px;
        display: block;
    }
}