.remove {
    position: absolute;
    top: 20px;
    right: 20px;
    border-radius: 100%;
    width: 33px;
    height: 33px;
    background-color: transparent;
    color: rgba($color: #000000, $alpha: 0.3);
    border: 1px solid rgba($color: #000000, $alpha: 0.3);
    cursor: pointer;
}

.fields {
    width: 100%;
    display: flex;
    flex-direction: column;

    .date {
        width: 100%;
        display: flex;
        justify-content: space-between;

        input {
            width: 45%;
        }
    }

    .id {
        width: 100px;
        display: block;
    }
}